  <ul class="timeline">
    <!-- timeline time label -->
    <li class="time-label">
          <span class="bg-red">
            26 Jun. 2016
          </span>
    </li>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <li>
      <i class="fa fa-key bg-green"></i>

      <div class="timeline-item">
        <span class="time"><i class="fa fa-clock-o"></i> 15:24:38</span>

        <h3 class="timeline-header">Ultimo acesso em: <strong>20/06/2016 - IP:1</strong></h3>
    </li>
    <!-- END timeline item -->
    <!-- timeline item -->
    <li>
      <i class="fa fa-usd bg-blue"></i>

      <div class="timeline-item">
        

        <h3 class="timeline-header no-border"><a>Saldo Disponivel: </a> <strong class="text-green">
        <i class="fa fa-angle-up"></i> R$ 200.00</strong></h3>
      </div>
    </li>
    <!-- END timeline item -->
    <li>
      <i class="fa fa-usd bg-orange"></i>

      <div class="timeline-item">
        

        <h3 class="timeline-header no-border"><a>Saldo Investido: </a> <strong class="text-yellow">
        <i class="fa fa-angle-left"></i> R$ 0.00</strong></h3>
      </div>
    </li>
    <li>
      <i class="fa fa-usd bg-red"></i>

      <div class="timeline-item">
        

        <h3 class="timeline-header no-border"><a>Depositos Pendentes: </a> <strong class="text-red">
        <i class="fa fa-angle-down"></i> R$ - 20.00</strong></h3>
      </div>
    </li>
    <li>
      <i class="fa fa-usd bg-yellow"></i>

      <div class="timeline-item">
        

        <h3 class="timeline-header no-border"><a>Saques Pendentes: </a> <strong class="text-orange">
        <i class="fa fa-angle-left"></i> R$ 0.00</strong></h3>
      </div>
    </li>
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
    </ul>