<div class="col-md-6">
  <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Depósito</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <label>* Valor mínimo</label>
            <p class="help-block" style="display:inline">R$ 50.00</p>
          <br><label for="vlrMinDep">* Valor máximo</label>
            <p class="help-block" style="display:inline">R$ 5.000.00</p>
          <div class="form-group">
            <label>* Formas de pagamento:</label>
            <p class="help-block" style="display:inline">Depósito/Transferência Bancária</p>
          </div>
          <label for="valor">Valor:</label>
          <div class="input-group col-xs-6">
            <span class="input-group-addon">$</span>
            <input type="text" id="vlrMaxDep" class="form-control">
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="button" class="btn btn-success">Confirmar</button>
        </div>
         <label>Observações:</label><br>
         <p class="help-block" style="display:inline;">* Ao confirmar o depósito, nossa equipe entrará em contato com os detalhes para concretizar a operação</p>
      </form>
    </div>
</div>


