<div class="col-md-6">
  <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Saque</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <label>* Disponivel para Saque: </label>
            <p class="help-block" style="display:inline">R$ 0.00</p>
          <br><label>* Valor Mimino: </label>
            <p class="help-block" style="display:inline">R$ 200.00</p>
            <br><label>* Valor Máximo: </label>
            <p class="help-block" style="display:inline">R$ 5.000.00</p>
            <br><label>* Formas de Pagamento: </label>
            <p class="help-block" style="display:inline">Depósito/Transferência Bancária/DOC</p>
          <br><br><label for="valor">Valor:</label>
          <div class="input-group col-xs-6">
            <span class="input-group-addon">$</span>
            <input type="text" id="vlrMaxDep" class="form-control">
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="button" class="btn btn-success">Confirmar</button>
        </div>
         <label>Observações:</label><br>
         <p class="help-block" style="display:inline;">* O prazo para confirmação do saque é de 3 a 7 dias úteis</p>
      </form>
    </div>
</div>


